@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iran-sans;
  src: url("/fonts/IRANSansWebFaNum.eot") format("eot");
  src: url("/fonts/IRANSansWebFaNum.woff") format("woff"),
    url("/fonts/IRANSansWebFaNum.woff2") format("woff2"),
    url("/fonts/IRANSansWebFaNum.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  font-family: iran-sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  direction: rtl;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #dddddd;
  --color-bg-tritary: #fcfcfc;
  --color-bg-shadow:#efefef;

  --color-bg-cont-primary: #212121;
  --color-bg-cover: #001e1ccd;

  --color-txt-primary: #333333;
  --color-txt-secondary: #5d5d5d;
  --color-txt-cont-primary: #ffffff;
  --color-txt-shadow: #a1b7ae;
}

.light * > .error {
  background-color: #ff0000;
  color: #ffffff;
}

.light_blue {
  --color-bg-accent1: #439588;
  --color-bg-accent1sh1: #55b9a5;
  --color-bg-accent2: #ffac43;

  --color-border-accent1sh1: #3ea590;

  --color-txt-accent1: #52d0ca;
  --color-txt-onAccent1: #255a55;

  --color-gradiant-from-accent1: #0f766e;
  --color-gradiant-to-accent1: #14b8a6;
}

bottun {
  cursor: pointer;
}

.zabaneh::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #439588;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.zabaneh-selected::before {
  border-bottom: 5px solid #fff !important;
}